<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Lake Water Quality Viewer - beta</title>
    <!-- Load jquery and bootstrap for GUI -->
    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="/static/plotly-latest.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/dom-to-image.js"></script>

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <!-- Load the Google Maps API. -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBlWhm-9ewS8JD4Kau8aeXFpxCZxBro3OM&sensor=false&libraries=places"></script>

    <!-- Load our JavaScript file. -->
    <script>var currentLang = "{{language}}";</script>
    <script src="/static/languages.js"></script>
    <script src="/static/mappings.js"></script>
    <script src="/static/script.js"></script>
    
    <script>
      $( document ).ready(function() {
      	var products = {
			"Color":"visibleColor",
      		"Chlorophyll":"Chlorophyll",
      		"Sediment": "Sediment", 
      		"Temperature": "Temperature",
      		"SWM": "SWM"
      		};
        //var satellites = {{ satellites }};
        var satellites = [ "Landsat8", "Landsat7", "Sentinel2", "Sentinel3", "Modis", "Modis_Bands" ];
        // var algorithms = {{ algorithms }};
        var algorithms = languages[currentLang]["algorithms"];

        


        console.log("algorithms " + JSON.stringify(algorithms));

         $.each(products, function(val, text) { // val = index in array, text = value of element at index val
              $('#Product').append( $('<option></option>').val(text).html(text) );
        });
        $.each(satellites, function(val, text) { // val = index in array, text = value of element at index val
              $('#Satellite').append( $('<option></option>').val(text).html(text) );
        });
        $.each(algorithms, function(val, text) { // val = index in array, text = value of element at index val
              $('#Algorithm').append( $('<option></option>').val(val).html(text) );
        });
      
        var mapControl;
        var satSel = document.getElementById("SatForm").Satellite;
        var satSelIdx = getIdxOfSelect(satSel, '{{ satellite }}');
        satSel.onchange = function() {
         	changeSatelliteDesc();
         	formSubmit(false, false, false, false);
         };
         satSel.selectedIndex = satSelIdx;
  
        document.getElementById("submitButton").onclick = function() { formSubmit(false, false, false, false); };
        document.getElementById("defaultMinMaxButton").onclick = function() { formSubmit(true, false, false, false); };
        document.getElementById("prevDate").onclick = function() { console.log("prev clicked"); advanceDate("backward");  };
        document.getElementById("nextDate").onclick = function() { console.log("next clicked"); advanceDate("forward");  };
        //document.getElementById("fvButton").onclick = fvButtonPressed;
        document.getElementById("downloadGeotiffButton").onclick = function() {downloadGeotiff(false); };;
        document.getElementById("downloadPngButton").onclick = function() {downloadGeotiff(true);};
        //document.getElementById("downloadPngButton").onclick = function() {saveMapToDataUrl();};
  
        var algSel = document.getElementById("SatForm").Algorithm;
        var algSelIdx = getIdxOfSelect(algSel, '{{ algorithm }}');
        algSel.onchange = function() {
         changeAlgorithmDesc();
         formSubmit(true, false, false, false);
         };
        algSel.selectedIndex = algSelIdx;
        
        var prodSel = document.getElementById("SatForm").Product;
        var prodSelIdx = getIdxOfSelect(prodSel, '{{ product }}');
        
        prodSel.onchange = function() {
         formSubmit(true, false, false, false);
         };
         
         var vizButton = document.getElementById("visButton");
         vizButton.onclick = function() {
         	formSubmit(true, true, false, false);
         };

        document.getElementById("langSel").onchange = function() {
           formSubmit(false, false, true, false);
        }
         
         setSatellitesForProduct();
         setAlgorithmsForCurrentProductAndSat();
         
         document.getElementById("manual").onclick = function() {
         	console.log("manualbg clicked");
			$('.manual').fadeOut(500);
		}
        
        /**
         * Here we get the mapid and token for the map tiles that were generated
         * by Earth Engine using the Python script server.py and injected using
         * the Jinja2 templating engine.
         */
  
        var dateDings = document.getElementById("SatForm").date;
        dateDings.onchange = function() { formSubmit(false, false, false, false); };
  
        document.getElementById("SatForm").addEventListener("keypress", formKeyPress);

        var langSel = document.getElementById("langSel");
        var langSelIdx = getIdxOfSelect(langSel, currentLang);
        console.log("selectedIndex" + langSelIdx)
        langSel.selectedIndex = langSelIdx;



        // language Settings
        document.getElementById("productLabel").innerText = languages[currentLang]["product"];
        document.getElementById("satelliteLabel").innerText = languages[currentLang]["satellite"];
        document.getElementById("algorithmLabel").innerText = languages[currentLang]["algorithm"];
        document.getElementById("dateLabel").innerText = languages[currentLang]["date"];
        document.getElementById("minLabel").innerText = languages[currentLang]["min"];
        document.getElementById("maxLabel").innerText = languages[currentLang]["max"];
        document.getElementById("defaultMinMaxButton").value = languages[currentLang]["default min/max"];
        document.getElementById("opacityLabel").innerText = languages[currentLang]["opacity"];
        document.getElementById("submitButton").value = languages[currentLang]["submit"];
        document.getElementById("downloadGeotiffButton").value = languages[currentLang]["download geotiff"];
        document.getElementById("downloadPngButton").value = languages[currentLang]["download png"];
        document.getElementById("satelliteInfoLink").innerText = languages[currentLang]["satellite info"];
        document.getElementById("algorithmInfoLink").innerText = languages[currentLang]["algorithm info"];
        document.getElementById("visButton").innerText = languages[currentLang]["visualization"];
        document.getElementById("currentDateLabel").innerText = languages[currentLang]["dateOfImage"] + " ";
        
  
        initialize('{{ mapid }}', '{{ token }}', '{{ latStr }}', '{{ longStr }}', '{{ zoomStr }}', '{{ opacityStr }}');
        /*
          init dummy plotly plot
        */
        TESTER = document.getElementById('plot');
		Plotly.newPlot( TESTER, [{
		x: [1, 2, 3, 4, 5],
		y: [1, 2, 4, 8, 16] }], {
		margin: { t: 0 } } );

        recalcCurrentDate();
      });

    </script>
    <link rel="stylesheet" href="static/globallakewatch.css">
  </head>
  <body>

<!--min-height: 100vh;-->

  <div id="satFormDiv" >
    <form id="SatForm" name="SatForm" >
    	<label id="productLabel" for="Product">product</label>
      	<select id="Product" name="Product" onchange="productSelChanged()">
     	</select>
    
      <label id="satelliteLabel" for="Satellite">Satellite</label>
      <select id="Satellite" name="Satellite" onchange="satSelChanged()">
      </select>

      <label id="algorithmLabel" for="Algorithm">Algorithm</label>
      <select id="Algorithm" name="Algorithm" value="TBA">
      </select>
      <br />

      <span><label id="dateLabel" for="Date">Date</label>
        <input type = "button" value="<" id="prevDate">
        <span><input id="date" name="date" type="date" value="{{ dateStr }}"></span>
        <input type = "button" value=">" id="nextDate"><br />
        <label id="currentDateLabel" for="Date">current Date of Image</label>
        <label id="currentDateShowLabel" for="Date">not yet available</label>
        <br />

      </span>
      <span><label id="minLabel" for="min">min</label>
        <span><input id="min" name="min" value="{{ minStr }}" size=6></span>
      </span>
      <span><label id="maxLabel" for="max">max</label>
        <span><input id="max" name="max" value="{{ maxStr }}" size=6></span>
      </span>
      <input id="defaultMinMaxButton" type="button" value="Default min/max"><br />
      <img src="static/gradient.png" alt="the color ramp" style="width:256px;height:32px;>

      <input type="hidden" id="lat" name="lat" value="{{ latStr }}" visible="false">

      <input type="hidden" id="long" name="long" value="{{ longStr }}" visible="false">

      <input type="hidden" id="zoom" name="zoom" value="{{ zoomStr }}" visible="false"><br/>

      <span><label id="opacityLabel" for="opacity">Opacity</label>
      <span><input id="opacity" type="range" min="0" max="100" value="80" step="1" oninput="mapControl.opacityChanged(this.value)" /></span>
      </span>


      <br /><br />
      <!--<input type="submit" value="Submit Now!"><br />-->
      <input id="submitButton" type="button" value="Submit" >

      <input id="downloadGeotiffButton" type="button" title="Download only possible when an area under ~10000 square km is visible" value="Download Geotiff">
      <input id="downloadPngButton" type="button" title="Download only possible when an area under ~10000 square km is visible" value="Download png">

              <select id="langSel" name="langSel">
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Hungarian">Hungarian</option>
        </select>
    </form>

    <div id="languageDropdownDiff" > 
 
    </div>
  </div>
  
  



  
<div id="infos" class="front">
<ul class="nav nav-tabs">
  <li class="active"><a id="satelliteInfoLink" data-toggle="tab" href="#satinfo">Satellite Info</a></li>
  <li><a  id="algorithmInfoLink" data-toggle="tab" href="#alginfo">Algorithm Info</a></li>
</ul>

<div class="tab-content front">
  <div id="satinfo" class="tab-pane active front">
    no Satellite information available
  </div>
  <div id="alginfo" class="tab-pane front">
    no Algorithm information available
  </div>

</div>
</div><!-- /container -->
<!-- Visualization DIV  -->
<button id="visButton" href="#visualization" class="btn btn-default front" data-toggle="collapse">Visualization</button>

<div id="visualization" class="front collapse">
  <div id="plot" class="front">
  </div>
</div>
  <div id="fastView">
    <input type = "button" value="Fast Viewer (Pre-Alpha!)" id="fvButton" visible="false">
  </div>

  <div id="impressum">
    <label>Published by Zlinszky, Supan, Koma EGU 2017 </label>
    <a href="http://meetingorganizer.copernicus.org/EGU2017/EGU2017-18950.pdf">http://meetingorganizer.copernicus.org/EGU2017/EGU2017-18950.pdf</a>
  </div>

  <div id="searchboxdiv"> <input id="pac-input" class="controls" type="text" placeholder="Search Box"> </div>



    <!-- The element into which we render the Google Map. -->
    <div id="map" width=window.innerHeight></div>
   
   <div id="crosshair" class="crosshair">
  		<img src="static/crosshair.png" alt="blabla">
  	</div>
  	
  	<div id="manual" class="manual">
  		<!--div class="manualcontent"-->
			<object data="static/global_lake_watch_manual.pdf" type="application/pdf" width="75%" height="75%" class="manualcontent">
        	alt : <a href="static/global_lake_watch_manual.pdf">global_lake_watch_manual.pdf</a>
    		</object>
    	<!--/div-->
	</div>

    <!--<a href="http://127.0.0.1:8080/?sat=Landsat7&nbsp;normal&date=27032017">Goto Landsat</a>-->
  </body>
</html>
