    body { height: 100vh;}

    #map {

      position: absolute;
      top: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: 100%;
      font-family: Helvetica, Helvetica, sans-serif;
      font-size: 10
    }

    #satFormDiv {
    z-index: 5;
      position: absolute;
      left: 20px;
      top: 50px;
      background-color: rgba(245,245,245,0.95);
      margin-left: 10;
      margin-right: 10;
      padding: 10px;
      font-family: Helvetica, Helvetica, sans-serif;
    }
    
    #satinfo {
    z-index: 5;
      padding: 10px;
      font-family: Helvetica, Helvetica, sans-serif;
      background-color: #fff;
      font-size: 10pt

    }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        margin-top: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }
    #alginfo {
    z-index: 5;
      padding: 10px;
      font-family: Helvetica, Helvetica, sans-serif;
      background-color: #fff;
      font-size: 10pt
    }
  #infos {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 10px;
      
  }
     #fastView {
      z-index: 5;
      position: absolute;
      right: 50vw;
      bottom: 10vh;
      display: none;
    }
    
    #manualcontent {
    	z-index: 7;
    	position: absolute;
    	left: 100px;
    	top: 100px;
    	width: 90%;
  		height: 90%;
    	/*transform: translate(-50%, -50%);*/
    }
    
    #manual {
    	z-index: 7;
		position: fixed; /* or absolute */

  		width: 100vw;
  		height: 100vh;
  		/*pointer-events: none;*/
  		  /* bring your own prefixes */
  		/*transform: translate(-50%, -50%);*/
    	
    }

    #impressum {
      z-index: 5;
      position: absolute;
      bottom: 1vh;
      left: 20vw;
      width: 60vw;
      background-color: rgba(245,245,245,0.95);
      padding: 10px;
      text-align: center;
      font-size: 10pt
    }

    #visualization {
      z-index: 7;
      background-color: #fff;
      position: absolute;
      right: 1vw;
      top: 5vh;
      height: 80vh;
      width: 98vw;

    }
    #plot {
      z-index: 6;
      background-color: #fff;
      position: absolute;
      right: 1vw;
      top: 5vh;
      height: 80vh;
      width: 98vw;
      
    }
    #zoom {
      display: none;
    }
    
	#crosshair {
		z-index: 6;
		position: fixed; /* or absolute */
  		top: 50%;
  		left: 50%;
  		pointer-events: none;
  		  /* bring your own prefixes */
  		transform: translate(-50%, -50%);

	}
  .front {
    z-index: 5;
  }

.tabcontent {
    z-index: 5;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
}

#visButton {
    position: absolute;
    top: 1vh;
    right: 5vw;
}

.back {
  z-index: -5;
}

body {
  background-color: #ddd;
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tab-pane {
  width: 30vw;
}

a { border: 0px; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 0;
}

.nav-tabs>li>a {
  border: 0;
}

li {
  background-color: #f1f1f1;
}

li.active {
  background-color: #fff;
}

